        /* Общие стили */
        body {
            font-family: 'Golos', sans-serif;
            background-color: #050723;
            color: #FFFFFF;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px 20px;
        }

        /* Шапка профиля */
        .profile-header {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 40px;
            padding-bottom: 30px;
            border-bottom: 4px solid #FFFFFF;
        }

        .profile-avatar {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 4px solid #FFFFFF;
            object-fit: cover;
        }

        .profile-info {
            flex: 1;
        }

        .profile-name {
            font-size: 32px;
            margin: 0 0 10px 0;
            color: #FFFFFF;
        }

        .profile-email {
            color: #F534DC;;
            font-size: 18px;
            margin: 0;
        }
        .profile-my_meropr {
            font-weight: bold;
            font-size: 26px;
            margin: 0 0 30px 150px;
        }
