<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title%}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    </head>
    <body>
        <header>
            <div class="header-institute">
                <div class="header-institute-word">
                    <a href="https://itmai.vercel.app/" class="header-institute-word-itmai"><span class="header-institute-word-name8">ИНСТИТУТ №8</span></a>
                    <span class="header-institute-word-name">МАИ</span>
                </div>
                <div class="header-institute-line"></div>
            </div>
            <div class="header-menu">
                <a href="" class="header-menu-img"><img src="static/menu.png" alt="menu-img" width="25" height="25"></a>
                <a href="" class="header-menu-word"><span class="header-menu-word-name">МЕНЮ</span></a>
            </div>
            <div class="header-phone">
                <span class="header-phone-num">+7 (999) 999-99-00</span>
            </div>
            <div class="header-lk">
                <a href="" class="header-lk-img"><img src="static/kabinet.png" alt="lk-img" width="25" height="25"></a>
                <a href="" class="header-lk-word"><span class="header-lk-word-name">ЛИЧНЫЙ КАБИНЕТ</span></a>
            </header>
        <main>
        {%block body%}{%endblock%}
        </main>


        <footer>
            <div class="footer-institute">
                <div class="footer-institute-word">
                    <div class="footer-institute-word-main">
                        <a href="https://itmai.vercel.app/" class="footer-institute-word-main-itmai"><span class="footer-institute-word-main-name8">ИНСТИТУТ №8</span></a>
                        <span class="footer-institute-word-main-name">МАИ</span>
                    </div>
                    <div class="footer-institute-word-more">
                        <span class="footer-institute-word-more-then">БОЛЬШЕ ЧЕМ</span>
                        <span class="footer-institute-word-more-then-it">IT.</span>
                    </div>
                </div>
                <div class="footer-institute-line"></div>
            </div>
            <div class="footer-kontact">
                <div class="container"></div>
                <div class="footer-kontact-main"><span>КОНТАКТЫ</span></div>
                <div class="footer-kontact-list">
                    <div class="footer-kontact-list-1column">
                        <div class="footer-kontact-list-1column-1"><span>+7 (999) 999-99-00</span></div>
                        <div class="footer-kontact-list-1column-2"><span>naebalovo@kompania.ru</span></div>
                    </div>
                    <div class="footer-kontact-list-2column">
                        <div class="footer-kontact-list-2column-1">
                            <div class="footer-kontact-list-2column-22"><a href=""><img src="static/tg.png" alt="tg-img" width="23" height="20"></a><a href="">IT-Центр МАИ</a></div>
                        </div>
                        <div class="footer-kontact-list-2column-2">
                            <div class="footer-kontact-list-2column-22"><a href=""><img src="static/vk.png" alt="vk-img" width="30" height="30"></a><a href="">IT-Центр МАИ</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer-kontact-primechanie">
                    <span class="footer-kontact-1primechanie">© 2024 ИТ-центр МАИ (Московский авиационный институт). Все права защищены</span>
                    <span class="footer-kontact-2primechanie">Продолжая использование сайта, вы даете согласие на использование сервисов Яндекс Метрика и Вебвизор.</span>
                </div>
            </div>
        </footer>

        <script src="" async defer></script>
    </body>
</html>
